.hj-container {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
.hj-header {
  border: 2px solid blue;
  display: flex;
  height: 20%;
  //background-color: #275634;
}
.hj-right {
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
  width: 15%;
}
.hj-family {
  display: flex;
  border: 1px solid green;
  justify-content: space-evenly;
  width: 15%;
  margin-left: 50%;
}
.hj-logo {
  border: 1px solid red;
  margin: 8%;
  background-color: white;

  width: 20%;
  height: 40%;
}
.hj-font {
  border: 1px solid red;
  font-size: 20px;
  margin: 8%;
}
