@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.hj-container {
  border: 2px solid black;
}
.hj-header {
  border: 2px solid blue;
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: space-between;
  /* background-color: #275634; */
}
.hj-right {
  display: flex;
  border: 1px solid green;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  width: 30%;
}
.hj-left {
  display: flex;
  border: 1px solid green;

  width: 30%;
  margin-left: 0%;
  justify-content: center;
  align-content: center;
}
.hj-menu {
  border: 1px solid green;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.hj-logo {
  border: 1px solid red;

  background-color: white;

  width: 20%;
  height: 100%;
}
.hj-font {
  border: 1px solid red;
  font-size: 20px;
  margin: 5%;
  width: 30%;
  height: 30%;
}
.hj-menu-tab {
  border: 1px solid red;
  width: 20%;
  height: 100%;
}


