@charset "UTF-8";
/* 캠핑 CSS */
/* title font */
@import url("https://fonts.googleapis.com/css2?family=Joti+One&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.rh-camping-container {
  border: 1px solid rgb(0, 38, 255);
}
.rh-camping-content {
  border: 1px solid rgb(18, 32, 112);
}
.rh-camping-content-title-box {
  margin-bottom: 5%;
}
.rh-camping-content-title {
  border: 1px solid rgb(199, 63, 63);
  background-image: url("../img/캠핑/camping_history4.jpg");
  padding-top: 25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 캠핑 콘텐츠 */
.rh-camping-content-wood {
  border: 1px solid rgb(34, 65, 168);
  display: grid;
  justify-items: center;
}
.rh-camping-content-wood-title1 {
  border: 1px solid rgb(49, 145, 25);
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.rh-camping-content-wood-title {
  background-image: url(../img/기타/나무보드.jpg);
  background-size: contain;
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 40%;
  font-size: 5vw;
  color: #275634;
  -webkit-text-stroke: 2px #f0ecc8;
  font-family: "Joti One", serif;
  line-height: 1.2;
}
.rh-camping-content-wood-bridge {
  border: 1px solid rgb(238, 255, 0);
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}
.rh-camping-content-wood-bridge1 {
  background-color: rgb(78, 47, 11);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 4%;
  margin-left: 10%;
}
.rh-camping-content-wood-bridge2 {
  background-color: rgb(78, 47, 11);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 4%;
  height: 100%;
  margin-right: 10%;
}
.rh-camping-content-wood-main {
  border: 1px solid rgb(145, 141, 25);
  width: 100%;
  display: flex;
  justify-content: center;
}
.rh-camping-content-wood-set {
  border: 1px solid rgb(49, 145, 25);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  background-image: url(../img/기타/나무보드.jpg);
  background-size: contain;
  background-position: center bottom 0px;
}
.rh-camping-content-wood-textbox {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  top: 0;
}

.rh-camping-content-wood-text {
  background-color: #f0ecc8;
  border: 1px solid rgb(145, 25, 105);
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1vw;
}

/* 안전사항 */
.rh-camping-safety-content-title {
  border: 1px solid rgb(199, 63, 63);
  background-image: url("../img/캠핑/캠핑_인포_가이드_역사3.jpg");
  padding-top: 25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rh-camping-safety-content-wood-main {
  border: 1px solid rgb(145, 141, 25);
  width: 100%;
  display: flex;
  justify-content: center;
}
.rh-camping-safety-content-wood-title {
  background-image: url(../img/기타/나무보드.jpg);
  background-size: contain;
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 40%;
  font-size: 5vw;
  color: #275634;
  -webkit-text-stroke: 2px #f0ecc8;
  font-family: "Joti One", serif;
  line-height: 1;
}

.rh-camping-safety-content-wood-set {
  border: 1px solid rgb(49, 145, 25);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  background-image: url(../img/기타/나무보드.jpg);
  background-size: contain;
  background-position: center bottom 0px;
}
.rh-camping-safety-content-wood-textbox {
  margin: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
}
.rh-camping-safety-content-wood-bg {
  background-color: aliceblue;
  padding: 15%;
  border-radius: 10%;
  margin-bottom: 3%;
}
.rh-camping-safety-content-wood-text {
  width: 100%;
}
