@charset "UTF-8";
/* 캠핑 CSS */
/* title font */
@import url("https://fonts.googleapis.com/css2?family=Joti+One&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.rh-camping-container {
  border: 1px solid rgb(0, 38, 255);
}
.rh-camping-content {
  border: 1px solid rgb(18, 32, 112);
}
.rh-camping-content-title-box {
  margin-bottom: 5%;
}
.rh-camping-content-title {
  border: 1px solid rgb(199, 63, 63);
  background-image: url("../img/캠핑/캠핑\ 인포_가이드_역사2_copy.jpg");
  padding-top: 25%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* 캠핑 콘텐츠 */
.rh-camping-content-wood {
  border: 1px solid rgb(34, 65, 168);
  display: grid;
  justify-items: center;
}
.rh-camping-content-wood-title1 {
  border: 1px solid rgb(49, 145, 25);
  display: flex;
  justify-content: center;
  width: 100%;
}
.rh-camping-content-wood-title {
  border: 1px solid rgb(10, 34, 3);
  background-image: url(../img/기타/나무보드.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 50%;
  color: #275634;
  -webkit-text-stroke: 2px #f0ecc8;

  font-size: 50px;
  text-align: center;
  font-family: "Joti One", serif;
}
.rh-camping-content-wood-bridge {
  border: 1px solid rgb(238, 255, 0);
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.rh-camping-content-wood-bridge1 {
  background-color: rgb(78, 47, 11);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 4%;
  margin-left: 10%;
}
.rh-camping-content-wood-bridge2 {
  background-color: rgb(78, 47, 11);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  width: 4%;
  height: 100%;
  margin-right: 10%;
}
.rh-camping-content-wood-main {
  border: 1px solid rgb(145, 141, 25);
  width: 100%;
  display: flex;
  justify-content: center;
}
.rh-camping-content-wood-set {
  border: 1px solid rgb(49, 145, 25);
  width: 80%;
  height: 100%;
  text-align: center;
  position: relative;
}
.rh-camping-content-wood-img {
  border: 1px solid rgb(255, 147, 226);
  box-shadow: 1px 1px 0px 3px rgba(0, 0, 0, 0.56) inset;
  background-image: url(../img/기타/나무보드.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  height: 100vh;
}
.rh-camping-content-wood-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.rh-camping-content-wood-text {
  border: 1px solid rgb(145, 25, 105);
  background-color: #f0ecc8;
  width: 80%;
  height: 90%;
}
