@import url("https://fonts.cdnfonts.com/css/drawing-guides");

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vw;
    padding: 0;
}

div{
    display: block;
}

#hj-container2 {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    background-color: #FFFAF6;
    margin-top: 5%;
}
/* 첫번쨰  */
#hj-info {
    background-color: #fffaf6;
    /* border: 1px solid blue; */
}
.hj-info-box,
.hj-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#hj-info-name-img {

    /*border: 1px solid gray;*/
    width: 25%;
    background-color: #59795a;
    padding: 2%;
    border-radius: 3vw;
    border: 1vw solid #6c480c;

    box-shadow: 2px 15px 8px 4px rgb(96 114 116 / 50%);
}
.hj-info-name {
    text-align: center;
    font-size: 1.6vw;
    color: white;
    font-family: 'JalnanGothic';
}
/* 정보 div */
.hj-content1{
    margin-top: 3%;
}

#hj-content-box-comment {
    font-family: "Drawing Guides", sans-serif;
    color: white;
    font-size: 3vw;
    position: absolute;
    right: 5%;
    bottom: 5%;
}
#hj-post-it{
    background-image: url(/resources/static/Img_hj/tapeClear.png);
    height: 2vw;
    width: 9vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
    right: 20%;
}

/* 사진 내용 부분 */
#hj-content-pic {
    position: relative;

    border-radius: 5vw;
    border: 2vw solid #6c480c;
    background-color: #59795a;
    box-shadow: 2px 15px 8px 4px rgb(96 114 116 / 50%);
    width: 70vw;
    padding-bottom: 7vw;
}
#hj-content-inside-box {
    display: flex;
    margin-top: 5%;

    justify-content: space-between;
}
#hj-content-img {
    /*background-color: white;*/
    margin-left: 5%;
    width: 26vw;
    height: 20vw;
}
#hj-content-img-slide-wrapper img {
    /*height: 250px;*/
    width: 26vw;
    height: 20vw;
}
/* 정보 부분 */
#hj-content-detail {
    /*background-color: rgb(6, 57, 10);*/
    background-image: url("/resources/static/img/기타/양피지.png");
    /*border: 0.6vw solid rgb(157, 111, 76);*/
    padding: 3% 0% 5% 2%;
    margin-right: 5%;
    width: 45%;
    color: black;
    font-family: 'SOYOMapleBoldTTF';
    background-size: cover;
}

#hj-content-detail:hover{
    cursor: pointer;
}
#hj-content-plus-container{
    position: absolute;
    background-image: url("/resources/static/img/기타/양피지.png");
    background-size: cover;

    width: 95%;
    right: 2%;
    top: 3%;
    height: auto;

    color: black;
    font-family: 'SOYOMapleBoldTTF';
    /* 팝업 효과*/
    z-index: 5;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}
#hj-content-plus-container:hover{
    cursor: pointer;
}
#hj-content-plus-container.show {
    opacity: 1;
    display: block;
    font-size: 1vw;
}
#hj-overlay-popup{
    background: rgba(0, 0, 0, 0.1); /* 어두운 오버레이의 색상과 투명도를 조절합니다. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
#hj-overlay-popup.active {
    display: block;
}
#hj-content-plus-overray{
    display: flex;
    justify-content: space-around;
    line-height: 1.7vw;
    padding-bottom: 1.5vw;
}
#hj-no,
#hj-time,
#hj-addr,
#hj-ability,
#hj-etc,
#hj-rating-avg{
    font-size: 1vw;
    line-height: 2;
}
.hj-content-plus-ray{
    margin-top: 1vw;
}
.hj-content-plus-ray2{
    margin-top: 4.5vw;
    width: 27%;

}
/* 코멘트 부분 */
#hj-comment-name-img{
    /*border: 1px solid gray;*/
    width: 20%;
    background-color: #59795a;
    padding: 2%;
    border-radius: 3vw;
    border: 1vw solid #6c480c;

    box-shadow: 2px 15px 8px 4px rgb(96 114 116 / 50%);
}
.hj-line-introduce{
    font-size: 1.3vw;
    color: yellow;
}
#hj-comment {
    /* border: 1px solid pink; */
    margin-top: 2%;
}
#hj-comment-pic{
    border-radius: 5vw;
    border: 2vw solid #6c480c;
    background-color: #59795a;
    box-shadow: 2px 15px 8px 4px rgb(96 114 116 / 50%);
    width: 70vw;
    padding-bottom: 3vw;
}
#hj-content-inside-box2 {
    justify-content: center;
    align-content: center;
    display: flex;
    width: 100%;
    /* margin-top: 5%; */
}
#hj-content-detail2 {
    /*background-image: url(../img/kami.jpeg);*/
    /*background-size: cover;*/
    /*background-position: center bottom 0px;*/

    /* margin-right: 5%; */
    width: 100%;
    /*padding-bottom: 4vw;*/
}
#hj-content-zentai-box {
    margin-top: 1%;
    width: 90%;
}
#hj-review-star-box {
    display: flex;
    margin-left: 36%;
}
.hj-star{
    font-size: 2vw;
}
.hj-star.checked{
    color: yellow;
}
.hj-review {
    /* border: 1px solid purple; */
}
#hj-review-content2-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hj-input {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    /* align-content: center; */
    width: 100%;
    margin-left: 5%;
}
#hj-input-content {
    /*margin-left: 3%;*/
    /*margin-top: 1%;*/
    height: 5vw;
}
#hj-pw{
    margin-top: 3%;
}
#hj-id-input, #hj-pw-input{
    font-family: 'SOYOMapleBoldTTF';
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 11vw;
    height: 2.3vw;
    /*margin-right: vw;*/
    border-radius: 0.5vw;
    outline: none;
    border: 0;
    background-color: rgb(250 250 250);
    font-size: 1vw;

}
#hj-review-content {
    width: 50%;
}
#hj-review-input {

    font-family: 'SOYOMapleBoldTTF';
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 31vw;
    height: 5vw;
    /* margin-right: 1vw; */
    border-radius: 0.5vw;
    outline: none;
    border: 0;
    background-color: rgb(250 250 250);
    font-size: 1vw;
}
#hj-btn {
    /*margin-top: 3%;*/
}
#hj-btn-button{
    font-family: 'SOYOMapleBoldTTF';
    width: 5vw;
    height: 2.5vw;
    display: inline-block;
    /* padding: 1vw 2vw; */
    font-size: 1vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #609f55;
    border: none;
    border-radius: 0.5vw;
    box-shadow: 0 0.7vw #1c4728;
    line-height: 1vw;
}
/* 리뷰 보여주는 창 */

#hj-review {
    /* border: 1px solid purple; */
    height: auto;
}
#hj-review-pic{
    /* border: 10px solid hsl(197, 78%, 28%); */
    position: relative;
    border-radius: 5vw;
    border: 2vw solid #6c480c;
    background-color: #59795a;
    box-shadow: 2px 15px 8px 4px rgb(96 114 116 / 50%);
    width: 70vw;
    padding-bottom: 3vw;
    /*height: 100%;*/

}
#hj-content-box-comment2{
    font-family: "Drawing Guides", sans-serif;
    color: white;
    font-size: 3vw;
    position: absolute;
    left: 5%;
    bottom: 5%;
}
#hj-review-inside-box2{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;

}
#hj-review-detail2{
    /* background-image: url(/resources/static/img/기타/양피지.png); */
    /* border: 0.6vw solid rgb(157, 111, 76); */
    /*padding: 3% 0% 2% 2%;*/
    /*margin-right: 5%;*/
    width: 70%;
    color: white;
    font-family: 'SOYOMapleBoldTTF';
    /* background-size: cover;
}
#hj-review-zentai-box{
    /*border: 5px solid blueviolet;*/

    margin-top: 2%;

}
.hj-review-stars{
    /*border: 1px solid darkgoldenrod;*/
    display: flex;
    align-content: space-between;
    width: 10%;
    height: auto;
    /* margin-left: ; */
}
.hj-review-star {
    display: flex;
    margin-left: 25%;
}
.hj-review-content-box{
    /*display: flex;*/
    /*border: 1px solid darkgreen;*/
    width: 100%;
    /*margin-top: 2%;*/
    font-size: 1vw;
    /*height: 100%;*/
    position: relative;
}
.hj-review-nickname{
    width: 100%;
    height: 100%;

}
.hj-review-comment{
    /*border: 1px solid darkorange;*/
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}
.hj-edit-box {

    width: 5%;
    position: absolute;
    top: 45%;
    right: 0;
}
.hj-edit-icon{
    /*background-image: url(/resources/static/Img_hj/horizon_icon.png);*/

    /*background-size: contain;*/
    /*background-position: center bottom -1px;*/
    /*!*border: 1px solid darkcyan;*!*/
    width: 80%;
    height: 2vw;
}
.hj-edit-icon:hover{
    cursor: pointer;
}
.hj-edit-part:hover{
    cursor: pointer;
}
/* 드롭 수정 삭제 창*/
.hj-edit-drop{
    position: absolute;
    font-size: 1vw;
    right: 3%;
    top: 1%;
    display: none;
    transition: height 0.5s ease;
    /*line-height: 2px;*/
    text-align: center;
}
.hj-edit-part{
    margin-top: 2%;

}
/*리뷰가 없을떄 css 따로주기*/
#hj-no-review{
    /*margin-left: 40%;*/
    text-align: center;
    font-size: 1.18vw;
    margin-top: 1%;
    margin-bottom: 1%;
}
/*페이지 처리*/
#hj-page-box{
    display: flex;
    align-content: center;
    justify-content: center;
}
#hj-first-button{
    margin-right: 1%;
}
#hj-final-button{
    margin-left: 1%;
}
#hj-prev-button:hover,
#hj-next-button:hover
{
    cursor: pointer;
}