@charset "UTF-8";
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
}
.hj-container {
  width: 100%;
  /*border: 2px solid black;*/
}
.hj-container-footer{
  margin-top: 7vw;
}
.hj-footer-pic{
  display: flex;
  justify-content: center;
}

.hj-footer-pic > img {
  position: relative;
  width: 90vw;
  z-index: 20;
  /*margin-top: -7.5vw;*/
}

.hj-footer {
  width: 100vw;
  height: auto;
  /* border: 1px solid blue; */
  display: flex;
  /* position: relative; */
  justify-content: space-around;
  background-color: #275634;
  border-top: 0.35vw solid #1c4728;
  margin-top: -2vw;
  position: relative;

}

.hj-footer-box {
  /*padding-top: 3.2vw;*/
  /*border: 1px solid green;*/
  width: 100%;
}
.hj-footer-box-first {
  margin-left: 4%;
}
.hj-footer-garo {
  height: auto;
  margin-top: 3%;
  /*border: 1px solid red;*/
}
.hj-footer-col {
  height: auto;
  /*border: 1px solid pink;*/
  display: grid;
}
.hj-footer-kobox {
  display: flex;
  justify-content: flex-start;
  color: rgb(242, 166, 52);
  height: 2vw;
  margin-left: 7%;
  /*margin-top: 3%;*/
}
.hj-footer-logo {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* margin: 1%; */
  margin-left: 2%;
  padding: 1%;
  color: rgb(242, 166, 52);
  bottom: 1.2vw;
  left: 1vw;
  /* background-color: #FFFAF6; */
  /* border-radius: 10%; */
  width: 3.5vw;
  height: 3vw;
  /* text-align: center; */
  /* box-shadow: 0.07vw 0.07vw 0.07vw 0 #173b21; */
  font-size: 1vw;
  background-image: url(/resources/static/Img_hj/outgoit_logo2.png);
}

/*.hj-footer-logo > span {*/
/*  color: rgb(222, 111, 26);*/

/*}*/



.hj-footer-kozin,
.hj-footer-design {
  margin-left: 1vw;
  margin-top: 0.5vw;
  width: 10vw;
  text-align: center;
  font-size: 1vw;
}
.hj-footer-kozin:hover{
  cursor: pointer;
}
.hj-footer-design:hover{
  cursor: pointer;
}


/* 두번쨰 푸터 */
.hj-footer-garo2{
  height: auto;
}
.hj-footer-kobox2 {
  display: flex;
  justify-content: flex-start;
  color: rgb(242, 166, 52);
  height: 4vw;
  margin-left: 2.5%;
}
.hj-footer-tel,
.hj-footer-location {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 8vw;
  /*height: 3.5vh;*/
  font-size: 1vw;
  margin: 1vw 1vw 1vw 3.5vw;

}
.hj-footer-location{
  margin-left: 5%;
}
.hj-tel,
.hj-location {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1vw;
}

.hj-footer-connact {
  margin: 1%;
  padding: 1%;
  /*color: rgb(222, 111, 26);*/
  /*background-color: #FFFAF6;*/
  border-radius: 10%;
  width: 5.5vw;
  text-align: center;
  /*box-shadow: 0.07vw 0.07vw 0.07vw 0 #173b21;*/
  font-size: 1vw;

}
.hj-tel-icon{
  width: 1.2vw;
  height: 1.2vw;
  background-image: url("/resources/static/Img_hj/tel.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 0.35vw;

}


.hj-location-icon {
  width: 1.2vw;
  height: 1.2vw;
  background-image: url("/resources/static/Img_hj/location.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 0.35vw;
}
.hj-footer-box2 {
  /*padding-top: 3.2vw;*/
  /*border: 1px solid green;*/
  /*width: 60%;*/
  margin-right: 3%;
  margin-top: 1%;
}

.hj-footer-garo3{
  margin-top: 3%;
}
/* 세번쨰 푸터 */
.hj-footer-links {
  margin: 1%;
  padding: 1%;
  /*color: rgb(222, 111, 26);*/
  /*background-color: #FFFAF6;*/
  border-radius: 10%;
  width: 5.5vw;
  text-align: center;
  /*box-shadow: 0.07vw 0.07vw 0.07vw 0 #173b21;*/
  font-size: 1vw;
}
.hj-footer-kobox3{
  display: flex;
  justify-content: flex-start;
  color: rgb(242, 166, 52);
  height: auto;
  margin-left: 5%;
}
.hj-footer-camp,
.hj-footer-tracking,
.hj-footer-riding {
  margin: 1vw;
  width: 4vw;
  text-align: center;
  font-size: 1vw;
  height: 4vw;
}
.hj-footer-camp:hover,
.hj-footer-tracking:hover,
.hj-footer-riding:hover{
  cursor: pointer;
}
.hj-footer-camp{
  background-image: url("/resources/static/Img_hj/camping2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hj-footer-tracking{
  background-image: url("/resources/static/Img_hj/hiking2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hj-footer-riding{
  background-image: url("/resources/static/Img_hj/bicycle2.png");
  background-size: contain;
  background-repeat: no-repeat;
}