@charset "UTF-8";
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.hj-container {
  width: 100%;
  border: 2px solid black;
}
.hj-footer-pic{
  height: 294px;
}
.hj-footer img {
  position: absolute;
  bottom: 110px;
  /*margin-top: 12px;*/
  width: 100%;
}
.hj-footer {
  width: 100vw;
  height: auto;
  border: 1px solid blue;
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: #275634;
}

.hj-footer-box {
  padding-top: 3.2vh;
  border: 1px solid green;
  width: 100%;
}
.hj-footer-box-first {
  /*margin-left: 4%;*/
}
.hj-footer-garo {
  height: 100%;
  border: 1px solid red;
}
.hj-footer-col {
  height: 100%;
  border: 1px solid pink;
  display: grid;
}
.hj-footer-kobox {
  display: flex;
  justify-content: space-around;
  color: rgb(242, 166, 52);
  height: 100%;
  min-height: 80px;
}
.hj-footer-logo {
  margin: 1%;
  padding: 1%;
  color: rgb(242, 166, 52);
  background-color: #FFFAF6;
  border-radius: 10%;
  width: 5.5vw;
  height: 2vh;
  text-align: center;
}

.hj-footer-logo > span {
  color: rgb(222, 111, 26);

}



.hj-footer-kozin,
.hj-footer-design {
  margin: 3%;
}
/* 두번쨰 푸터 */
.hj-footer-tel,
.hj-footer-location {
  display: flex;
  justify-content: space-around;
}
.hj-tel,
.hj-location {
  margin: 15%;
}
.hj-footer-connact {
  margin: 5px;
  padding: 5px;
  color: rgb(242, 166, 52);
  background-color: #FFFAF6;
  border-radius: 10%;
  width: 5.5vw;
  height: 25px;
  text-align: center;
}
.hj-tel-icon,
.hj-location-icon {
  border: 1px solid saddlebrown;
}
/* 세번쨰 푸터 */
.hj-footer-links {
  margin: 1%;
  padding: 1%;
  color: rgb(242, 166, 52);
  background-color: #FFFAF6;
  border-radius: 10%;
  width: 5.5vw;
  height: 2vh;
  text-align: center;
}
.hj-footer-home,
.hj-footer-camp,
.hj-footer-tracking,
.hj-footer-riding {
  margin: 3%;
}
