@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
.hj-container {
  width: 100%;
  border: 2px solid black;
}
.hj-footer-pic img {
  width: 100%;
}
.hj-footer {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
}

.hj-footer-box {
  border: 1px solid green;
  width: 100%;
}
.hj-footer-box-first {
  margin-left: 4%;
}
.hj-footer-garo {
  border: 1px solid red;
}
.hj-footer-col {
  border: 1px solid pink;
}
.hj-footer-kobox {
  display: flex;
  justify-content: space-around;
}
.hj-footer-logo {
  margin: 1%;
}
.hj-footer-kozin,
.hj-footer-design {
  margin: 3%;
}
/* 두번쨰 푸터 */
.hj-footer-tel,
.hj-footer-location {
  display: flex;
  justify-content: space-around;
}
.hj-tel,
.hj-location {
  margin: 15%;
}
.hj-footer-connact {
  margin: 1%;
}
.hj-tel-icon,
.hj-location-icon {
  border: 1px solid saddlebrown;
}
/* 세번쨰 푸터 */
.hj-footer-links {
  margin: 1%;
}
.hj-footer-home,
.hj-footer-camp,
.hj-footer-tracking,
.hj-footer-riding {
  margin: 3%;
}
