@charset "UTF-8";

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

.hj-container {

}

.hj-header {
    box-sizing: border-box;
    /*box-shadow: 0 0 0 0.35vw #1c4728 inset;*/
    border-bottom: 0.35vw solid #1c4728;
    display: flex;
    height: 4.5vw;
    width: 100%;
    justify-content: space-between;
    background-color: #275634;
    top: 0;
}

.hj-logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    /*justify-content: space-evenly;*/
    width: 25vw;
    margin-top: 0.3vw;
    /*border: 3px solid green;*/
}

.hj-right {
    display: flex;
    margin-right: 1.5vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /*border: 3px solid palevioletred;*/
}


.hj-logo {
        /* border: 1px solid red; */
        /* background-color: white; */
        width: 4vw;
        background-image: url("/resources/static/Img_hj/outgoit_logo2.png");
        background-size: cover;
        background-repeat: no-repeat;
}

.hj-title {
    font-family: 'JalnanGothic';
    font-weight: bolder;
    font-size: 2vw;
    width: 10vw;
    margin-left: 1vw;
    color: rgb(242, 166, 52);
    text-shadow: -0.1vw 0 #FFFAF6, 0 0.1vw #FFFAF6, 0.1vw 0 #FFFAF6, 0 -0.1vw #FFFAF6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hj-title > span {
    color: rgb(222, 111, 26);

}


/* 글씨 효과 */
.hj-tracking {
    font-family: 'SOYOMapleBoldTTF';
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgb(242, 166, 52);
    user-select: none;
    overflow: hidden;
    border-radius: 10%;
}

.hj-tracking span {
    animation: bounce 0.6s;
    display: inline-block;
    animation: float 0.2s ease-in-out infinite;
}

.hj-tracking:hover span {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.hj-tracking span:nth-child(2) {
    animation-delay: 0.05s;
}

.hj-tracking span:nth-child(3) {
    animation-delay: 0.1s;
}

.hj-tracking span:nth-child(4) {
    animation-delay: 0.15s;
}

.hj-tracking span:nth-child(5) {
    animation-delay: 0.2s;
}

.hj-tracking span:nth-child(6) {
    animation-delay: 0.25s;
}

.hj-tracking span:nth-child(7) {
    animation-delay: 0.3s;
}

.hj-tracking span:nth-child(8) {
    animation-delay: 0.35s;
}

.hj-riding {
    font-family: 'SOYOMapleBoldTTF';
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgb(242, 166, 52);
    user-select: none;
    overflow: hidden;
    border-radius: 10%;
}

.hj-riding span {
    animation: bounce 0.6s;
    display: inline-block;
    animation: float 0.2s ease-in-out infinite;
}

.hj-riding:hover span {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.hj-riding span:nth-child(2) {
    animation-delay: 0.05s;
}

.hj-riding span:nth-child(3) {
    animation-delay: 0.1s;
}

.hj-riding span:nth-child(4) {
    animation-delay: 0.15s;
}

.hj-riding span:nth-child(5) {
    animation-delay: 0.2s;
}

.hj-riding span:nth-child(6) {
    animation-delay: 0.25s;
}

.hj-menu {
    /*border: 1px solid green;*/
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hj-font {
    /* border: 1px solid red; */
    width: 7vw;
    margin: 0.6vw 1vw 0.3vw 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

.hj-menu-tab {
    /*border: 1px solid red;*/
    width: 3.5vw;
    /*background-image: url("../Img_hj/menu_sun1.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
    margin-top: auto;
    margin-bottom: auto;
}

.hj-menu-icon {
    /*border: 1px solid red;*/
    width: 3vw;
    height: 3vw;
    background-image: url("../Img_hj/menu_sun1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;

}

.hj-camping-content-page {
    width: 100%;
    height: auto;
}

/*호버 효과*/

.hj-font:hover, .hj-logo-container:hover {
    cursor: pointer;
}
body{
    background-color: #FFFAF6;
}