@charset "UTF-8";

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.hj-container {
  border: 2px solid red;
}
.hj-header {
  border: 5px solid skyblue;
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: space-between;
  background-color: #275634;
}
.hj-right {
  display: flex;
  border: 3px solid green;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  width: 30%;
}
.hj-left {
  display: flex;
  border: 3px solid palevioletred;

  width: 30%;
  margin-left: 0%;
  justify-content: center;
  align-content: center;
}
/* 글씨 효과 */
.hj-tracking {
  font-family: 'SOYOMapleBoldTTF';
  font-weight: bolder;
  font-size: 1.5vw;
  color: ;
  user-select: none;
  overflow: hidden;

}
.hj-tracking span {
  animation: bounce 0.6s;
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
}
.hj-tracking:hover span {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.hj-tracking span:nth-child(2) {
  animation-delay: 0.05s;
}
.hj-tracking span:nth-child(3) {
  animation-delay: 0.1s;
}
.hj-tracking span:nth-child(4) {
  animation-delay: 0.15s;
}
.hj-tracking span:nth-child(5) {
  animation-delay: 0.2s;
}
.hj-tracking span:nth-child(6) {
  animation-delay: 0.25s;
}
.hj-tracking span:nth-child(7) {
  animation-delay: 0.3s;
}
.hj-tracking span:nth-child(8) {
  animation-delay: 0.35s;
}

.hj-riding {
  font-family: 'SOYOMapleBoldTTF';
  font-weight: bolder;
  font-size: 1.5vw;
  user-select: none;
  overflow: hidden;
}
.hj-riding span {
  animation: bounce 0.6s;
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
}
.hj-riding:hover span {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}
.hj-riding span:nth-child(2) {
  animation-delay: 0.05s;
}
.hj-riding span:nth-child(3) {
  animation-delay: 0.1s;
}
.hj-riding span:nth-child(4) {
  animation-delay: 0.15s;
}
.hj-riding span:nth-child(5) {
  animation-delay: 0.2s;
}
.hj-riding span:nth-child(6) {
  animation-delay: 0.25s;
}
.hj-menu {
  border: 1px solid green;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.hj-logo {
  border: 1px solid red;

  background-color: white;

  width: 20%;
  height: 100%;
}
.hj-font {
  border: 1px solid red;
  margin: 5%;
  width: 35%;
  height: 35%;
}
.hj-menu-tab {
  border: 1px solid red;
  width: 20%;
  height: 100%;
}
