@charset "UTF-8";
/* 전체 div */
/*별똥별 실험*/
body{
 overflow: hidden;
}
/*실험 2*/
.hj-col, .hj-col-2, .hj-col-3, .hj-col-4 {
  position: relative;
  display: inline-block;
  padding: 20px;
  /*background-color: #3498db;*/
  color: #fff;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.hj-star-container, .hj-star-container-2, .hj-star-container-3, .hj-star-container-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star, .star2, .star3, .star4 {
  position: absolute;
  background: #fff;
  width: 5px;
  height: 3px;
  animation: shooting-star 5s infinite linear;
}

@keyframes shooting-star {
  to {
    transform: translateX(-100vw) translateY(100vh);
  }
}

.hj-col:hover {
  background-color: black;
}
.hj-col-2:hover {
  background-color: black;
}
.hj-col-3:hover {
  background-color: black;
}
.hj-col-4:hover {
  background-color: black;
}
/*실험 2 end*/
/*.hj-col {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  !*padding: 20px;*!*/
/*  !*background-color: black;*!*/
/*  color: #fff;*/
/*  transition: background-color 0.3s ease;*/
/*  overflow: hidden; !* 내부의 별똥별이 넘치지 않도록 숨겨진 영역 설정 *!*/
/*}*/

/*.stars {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  pointer-events: none; !* 별똥별 요소에 대한 이벤트를 무시하도록 설정 *!*/
/*}*/

/*.star {*/
/*  position: absolute;*/
/*  background: #fff;*/
/*  width: 2px;*/
/*  height: 2px;*/
/*  animation: shooting-star 5s infinite linear;*/
/*}*/

/*@keyframes shooting-star {*/
/*  to {*/
/*    transform: translateX(-100vw) translateY(100vh);*/
/*  }*/
/*}*/

/*.hj-box:hover {*/
/*  background-color: black;*/
/*}*/
/*시작*/
.hj-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

  /* border: 4px solid red; */
}
/* 아이콘 */
.hj-box-1 {
  height: 9%;
  /* border: 1px solid violet; */
}
.hj-row-1 {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.hj-col-1 {
  position: fixed;
  right: 0;
  width: 6%;
  height: 8%;
}
.hj-icon {
  text-align: center;
  margin-top: 20%;
}
/* 나머지 디브 */
.hj-box {
  /* display: flex;
  justify-content: center; */
  /* border: 1px solid violet; */
  height: 20%;
  display: flex;
  justify-content: center;
}
.hj-row {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 40%;
}
.hj-col, .hj-col-2, .hj-col-3, .hj-col-4 {
  width: 100%;
  text-align: center;
}

.hj-home,
.hj-story,
.hj-info,
.hj-guide {

  font-size: 2vw;
  margin-top: 8%;
}
/* 호버 이벤트 */
/*.hj-col:hover {*/
/*  background-color: black;*/
/*}*/
/*.hj-col {*/
/*  padding: 20px;*/
/*  !* background-color: #3498db; *!*/
/*  color: #fff;*/
/*  transition: background-color 0.9s ease;*/
/*  border: 1px solid black;*/
/*}*/
