@charset "UTF-8";

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    /* background-color: #FFFAF6; */
}

.container {
    border: 3px solid red;
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-wrap {
    border: 3px solid blue;
    width: 100%;
    height: 27vw;
    display: flex;
    justify-content: center;
}

.banner {
    width: 80%;
    height: 27vw;
    background-image: url("../../../../resources/static/kmh/img/camping_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-txt-wrap {
    margin-top: 14vw;
    display: grid;
    place-items: center;
}

.banner-title {
    font-family: 'JalnanGothic';
    font-size: 6vw;
    font-weight: bolder;
    color: white;
}

.banner-sub-txt {
    font-family: 'SOYOMapleBoldTTF';
    font-size: 1.5vw;
    font-weight: bolder;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}

.map-txt-wrap {
    border: 3px solid black;
    margin-top: 7vw;
    display: grid;
    place-items: center;
}

.map-title {
    font-family: 'JalnanGothic';
    font-size: 3vw;
    font-weight: bolder;
}

.map-sub-txt {
    font-family: 'SOYOMapleBoldTTF';
    font-size: 1vw;
    margin-top: 0.5vw;
}

.map-wrap {
    width: 100%;
    height: 45vw;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
}

.map-search {
    width: 100vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;

}


.map-all {
    border: 3px solid skyblue;
    width: 75%;
    height: 30vw;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3vw;
}

#map {
    width: 50%;
    height: 30vw;
}

.search-result-list {
    background-color: aquamarine;
    width: 35%;
    height: 30vw;

}