@charset "UTF-8";




@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


<<<<<<< HEAD
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /*overflow: hidden;*/
        /*align-items: center;*/
=======
.mh-index-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.mh-index-title-wrap {
    width: 100%;
    height: 15vw;
    margin-top: 3vw;
    margin-bottom: 0.2vw;
}

.mh-title {
    font-family: 'JalnanGothic';
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8.5vw;
    font-weight: 700;
    color: #116228;
    text-shadow: 0 0.7vw 0 rgb(222, 111, 26);
    animation: bounce 2s ease-in-out 1; /* 애니메이션을 무한히 반복  - > 숫자 작성하면 해당 숫자만큼 움직임 */
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* 애니메이션의 시작 상태 */
>>>>>>> front-mh
    }


    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
    }


    .title-wrap {
        width: 100vw;
        height: 17vw;
        margin-top: 5vw;
        padding-top: 1vw;
    }

<<<<<<< HEAD
    .title {
        font-family: 'JalnanGothic';
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 8.5vw;
        font-weight: 700;
        color: #116228;
        text-shadow: 0 0.7vw 0 rgb(222, 111, 26);
        animation: bounce 2s ease-in-out 1; /* 애니메이션을 무한히 반복  - > 숫자 작성하면 해당 숫자만큼 움직임 */
=======
.mh-title .mh-go {
    color: rgb(242, 166, 52);
    text-shadow: 0 0.7vw 0 #116228;

}

    
.mh-sub-title {
    font-family: 'SOYOMapleBoldTTF';
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bolder;
    animation: fadeIn 2s ease-in-out forwards;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
>>>>>>> front-mh
    }

    @keyframes bounce {
        0% {
            transform: translateY(0); /* 애니메이션의 시작 상태 */
        }
        50% {
            transform: translateY(-20px); /* 중간 상태 */
        }
        100% {
            transform: translateY(0); /* 애니메이션의 마지막 상태 */
        }
    }

    .title .go {
        color: rgb(242, 166, 52);
        text-shadow: 0 0.7vw 0 #116228;

    }


    .sub-title {
        font-family: 'SOYOMapleBoldTTF';
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2.5vw;
        font-weight: bolder;
        animation: fadeIn 2s ease-in-out forwards;
        animation-duration: 2s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


    .menu-wrap {
        /* border: 5px solid black; */
        width: 100vw;
        /*height: 35vw;*/
        display: flex;
        justify-content: center;
        animation: fadeInUp 1s ease-in-out forwards;
        margin-top: 2vw;
    }

    @keyframes fadeInUp {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }


    .menu {
        width: 18vw;
        height: 20vw;
        display: grid;
        place-items: center;
        padding-bottom: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10%;
        box-shadow: 0px 0.7vw 0.7vw 0px rgba(0, 0, 0, 0.5);
    }


    .txt {
        font-family: 'TTTogether';
        font-style: normal;
        font-size: 3vw;
        font-weight: bold;
        color: #19672d;
        margin-botton: 3vw;
    }

    .menu-txt {
        cursor: pointer;
        -webkit-text-stroke: 0.6px #173b21;
        background-image: linear-gradient(0deg, #2b8042, #2b8042);
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        transition: background-size 0.32s ease-in;

    }

    .menu:hover {
        transform: scale(1.1); /* 호버 시 크기를 1.1배로 확대 */
        cursor: pointer;
    }

    .menu:hover .menu-txt {
        background-size: 100% 100%; /* menu-txt도 같이 호버되도록 */
    }

    .menu-txt {
        background-position: 0% 0%;
        background-size: 0% 100%;
    }


    .camp-icon {
        /* border: 4px solid red; */
        width: 13vw;
        height: 13vw;
        opacity: 1;
        background-image: url("../img/tent.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .hiking-icon {
        /* border: 4px solid red; */
        width: 13vw;
        height: 13vw;
        opacity: 1;
        background-image: url("../img/map.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

<<<<<<< HEAD
=======
.mh-menu-wrap {
    /* border: 5px solid black; */
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    animation: fadeInUp 1s ease-in-out forwards;
    margin-bottom: 1vw;
}   

@keyframes fadeInUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
>>>>>>> front-mh
    }

    .riding-icon {
        /* border: 4px solid red; */
        width: 13vw;
        height: 13vw;
        opacity: 1;
        background-image: url("../img/bicycle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }


<<<<<<< HEAD
    /*미디어쿼리*/

@media only screen and (max-width: 430px) and (max-height: 932px){
=======
.mh-menu {
    width: 18vw;
    height: 10vw;
    display: grid;
    place-items: center;
    padding-top: 4vw;
    padding-bottom: 7.5vw;
    margin-bottom: 5vw;
    margin: 4vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    box-shadow: 0px 0.7vw 0.7vw 0px rgba(0, 0, 0, 0.5);
}


.mh-txt {
    font-family: 'TTTogether';
    font-style: normal;
    font-size: 3vw;
    font-weight: bold;
    color: #19672d;
    margin-top: 0.6vw;
}

.mh-menu-txt {
    cursor: pointer;
    -webkit-text-stroke: 0.6px #173b21;
    background-image: linear-gradient(0deg, #2b8042, #2b8042);
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background-size 0.32s ease-in;
}

.mh-menu:hover {
    transform: scale(1.1); /* 호버 시 크기를 1.1배로 확대 */
    cursor: pointer;
}

.mh-menu:hover .mh-menu-txt {
    background-size: 100% 100%; /* menu-txt도 같이 호버되도록 */
}

.mh-menu-txt {
    background-position: 0% 0%;
    background-size: 0% 100%;
}


.mh-camp-icon {
    /* border: 4px solid red; */
    width: 10vw;
    height: 9vw;
    opacity: 1;
    background-image: url("../img/tent.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mh-hiking-icon {
    /* border: 4px solid red; */
    width: 10vw;
    height: 9vw;
    opacity: 1;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.mh-riding-icon {
    /* border: 4px solid red; */
    width: 10vw;
    height: 9vw;
    opacity: 1;
    background-image: url("../img/bicycle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

@media only screen and (max-width: 430px) and (max-height: 932px){
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mh-index-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mh-index-title-wrap {
        width: 100%;
        height: auto;
        margin-top: 3vw;
        margin-bottom: 0.2vw;
    }

    .mh-title {
        font-family: 'JalnanGothic';
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15vw;
        font-weight: 700;
        color: #116228;
        text-shadow: 0 0.7vw 0 rgb(222, 111, 26);
        animation: bounce 2s ease-in-out 1; /* 애니메이션을 무한히 반복  - > 숫자 작성하면 해당 숫자만큼 움직임 */
    }

    @keyframes bounce {
        0% {
            transform: translateY(0); /* 애니메이션의 시작 상태 */
        }
        50% {
            transform: translateY(-20px); /* 중간 상태 */
        }
        100% {
            transform: translateY(0); /* 애니메이션의 마지막 상태 */
        }
    }

    .mh-title .mh-go {
        color: rgb(242, 166, 52);
        text-shadow: 0 0.7vw 0 #116228;

    }


    .mh-sub-title {
        font-family: 'SOYOMapleBoldTTF';
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 4.5vw;
        font-weight: bolder;
        animation: fadeIn 2s ease-in-out forwards;
        animation-duration: 2s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .mh-index-wrap-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mh-menu-wrap {
        /* border: 5px solid black; */
        width: 100%;
        display: grid;
        justify-content: center;
        animation: fadeInUp 1s ease-in-out forwards;
        margin-bottom: 1vw;
        height: auto;
        margin-top:7vw;
    }

    @keyframes fadeInUp {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }


    .mh-menu {
        width: 50vw;
        height: 25vw;
        display: grid;
        place-items: center;
        padding-top: 4vw;
        padding-bottom: 7.5vw;
        margin-bottom: 5vw;
        margin: 4vw;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5vw;
        box-shadow: 0px 0.7vw 0.7vw 0px rgba(0, 0, 0, 0.5);
    }


    .mh-txt {
        font-family: 'TTTogether';
        font-style: normal;
        font-size: 5vw;
        font-weight: bold;
        color: #19672d;
        margin-top: 0.6vw;
    }

    .mh-menu-txt {
        cursor: pointer;
        -webkit-text-stroke: 0.6px #173b21;
        background-image: linear-gradient(0deg, #2b8042, #2b8042);
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        transition: background-size 0.32s ease-in;
    }

    .mh-menu:hover {
        transform: scale(1.1); /* 호버 시 크기를 1.1배로 확대 */
        cursor: pointer;
    }

    .mh-menu:hover .mh-menu-txt {
        background-size: 100% 100%; /* menu-txt도 같이 호버되도록 */
    }

    .mh-menu-txt {
        background-position: 0% 0%;
        background-size: 0% 100%;
    }


    .mh-camp-icon {
        /* border: 4px solid red; */
        width: 25vw;
        height: 25vw;
        opacity: 1;
        background-image: url("../img/tent.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .mh-hiking-icon {
        /* border: 4px solid red; */
        width: 25vw;
        height: 25vw;
        opacity: 1;
        background-image: url("../img/map.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }

    .mh-riding-icon {
        /* border: 4px solid red; */
        width: 25vw;
        height: 25vw;
        opacity: 1;
        background-image: url("../img/bicycle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }
>>>>>>> front-mh
}