@charset "UTF-8";

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
     background-color: #FFFAF6;
}

.container {
    /*border: 3px solid red;*/
    position: relative;
    width: 100%;
    height: 100%;
}

/*슬라이드*/
.swiper {
    /*width: 100%;*/
    /*height: 100%;*/
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    width: 80%;
    height: 27vw;
    text-align: center;
    /*font-size: 18px;*/
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*슬라이드 끝*/

/*.banner-wrap {*/
/*    !*border: 3px solid blue;*!*/
/*    width: 100%;*/
/*    height: 27vw;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.banner {*/
/*    width: 80%;*/
/*    height: 27vw;*/
/*    background-image: url("../../../../resources/static/kmh/img/camping_banner.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.banner-txt-wrap {
    margin-top: 14vw;
    display: none;
    place-items: center;
}

.banner-title {
    font-family: 'JalnanGothic';
    font-size: 6vw;
    font-weight: bolder;
    color: black;
}


.content {
    width: 100%;
    height: 100%;
}

.map-txt-wrap {
    border: 3px solid black;
    margin-top: 7vw;
    display: grid;
    place-items: center;
}

.map-title {
    font-family: 'JalnanGothic';
    font-size: 3vw;
    font-weight: bolder;
}

.map-sub-txt {
    font-family: 'SOYOMapleBoldTTF';
    font-size: 1vw;
    margin-top: 0.5vw;
}

.search-wrap {
    width: 100%;
    height: 40vw;
    margin-top: 1vw;
}

.background-map {
    display: grid;
    justify-content: center;
    margin: auto;
    width: 75%;
    background-color: rgb(117 101 78);
    border-radius: 5%;
}


.area-search {
    width: 100vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}

.map-all {
    width: 75%;
    height: 33vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 1%;


}


/*명성님 자전거 css*/
#map {
    width: 50%;
    height: 30vw;
    overflow: hidden;
    border-top-left-radius : 5%;
    border-bottom-left-radius : 5%;
    /*border-radius: 5%;*/

}


#cycle-page-map {
    width: 50%;
    height: 35vw;
    border-radius: 15px;
    overflow: hidden;
}

#search-result-list {
    font-family: 'SOYOMapleBoldTTF';
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 30vw;
    overflow-y: scroll;
    font-size: 0.7vw;
    border-top-right-radius : 5%;
    border-bottom-right-radius : 5%;
}
#search-result-list::-webkit-scrollbar{
    width: 10px;
}

#search-result-list::-webkit-scrollbar-button {
    display: none;
}
#search-result-list::-webkit-scrollbar-thumb{
    background-color: rgb(0, 52, 255);
    width: 8px;
    border-radius: 30px;
}
#search-result-list::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}



/*검색부분 버튼 CSS*/

.button {
    font-family: 'SOYOMapleBoldTTF';
    width: 7vw;
    height: 3vw;
    display: inline-block;
    padding: 1vw 2vw;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #609f55;
    border: none;
    border-radius: 5%;
    box-shadow: 0 0.7vw #1c4728;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #1c4728;
    transform: translateY(4px);
}

.button > span {
    display: flex;
    justify-content: center;

}

/*검색창 CSS*/

.search-input {
    font-family: 'SOYOMapleBoldTTF';
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 3.5vw;
    margin-right: 1vw;
    border-radius: 5%;
    outline: none;
    border: 0;
    background-color: rgb(250 250 250);
    font-size: 1vw;
}

/*리스트 fadeIn 효과*/
.camping-area-info-box {
    animation: fadeInList 2s ease 3s;
    -webkit-animation: fadeInList 1s;
}

@keyframes fadeInList {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInList {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 리스트 위치 조정 */

.camping-area-info-box {
    font-family: 'SOYOMapleBoldTTF';
    background-color: rgb(236, 236, 236);
    width: 23.5vw;
    height: 6.5vw;
    font-size: 1vw;
    margin: auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-bottom: 0.2vw solid #b9b9b9;
    border-radius: 3%;

}

.camping-area-name{
    margin-left: 1vw;

}

.button-wrapper {
    margin-left: 1vw;
}




/*리스트 버튼 CSS test*/

.open-detail-button {
    font-family: 'SOYOMapleBoldTTF';
}
