@charset "UTF-8";

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}


.hj-header {
    box-sizing: border-box;
    /*box-shadow: 0 0 0 0.35vw #1c4728 inset;*/
    border-bottom: 0.35vw solid #1c4728;
    display: flex;
    height: 4.5vw;
    width: 100%;
    justify-content: space-between;
    background-color: #275634;
    top: 0;
}

.hj-logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 21vw;
    margin-top: 0.3vw;
}

.hj-right {
    display: flex;
    margin-right: 1.5vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.hj-logo {
    width: 4.5vw;
    background-image: url("/resources/static/img/header_footer/outgoit_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hj-title {
    font-weight: bolder;
    font-size: 1vw;
    width: 12vw;
    margin-left: 1vw;
    color: rgb(242, 166, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SOYOMapleBoldTTF';
    margin-top: 1%;
}

.hj-title > span {
    color: rgb(222, 111, 26);

}


/* 글씨 효과 */
.hj-tracking {
    font-family: 'SOYOMapleBoldTTF';
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgb(242, 166, 52);
    user-select: none;
    overflow: hidden;
    border-radius: 10%;
}

.hj-tracking span {
    animation: bounce 0.6s;
    display: inline-block;
    animation: float 0.2s ease-in-out infinite;
}

.hj-tracking:hover span {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.hj-tracking span:nth-child(2) {
    animation-delay: 0.05s;
}

.hj-tracking span:nth-child(3) {
    animation-delay: 0.1s;
}

.hj-tracking span:nth-child(4) {
    animation-delay: 0.15s;
}

.hj-tracking span:nth-child(5) {
    animation-delay: 0.2s;
}

.hj-tracking span:nth-child(6) {
    animation-delay: 0.25s;
}

.hj-tracking span:nth-child(7) {
    animation-delay: 0.3s;
}

.hj-tracking span:nth-child(8) {
    animation-delay: 0.35s;
}

.hj-riding {
    font-family: 'SOYOMapleBoldTTF';
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgb(242, 166, 52);
    user-select: none;
    overflow: hidden;
    border-radius: 10%;
}

.hj-riding span {
    animation: bounce 0.6s;
    display: inline-block;
    animation: float 0.2s ease-in-out infinite;
}

.hj-riding:hover span {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.hj-riding span:nth-child(2) {
    animation-delay: 0.05s;
}

.hj-riding span:nth-child(3) {
    animation-delay: 0.1s;
}

.hj-riding span:nth-child(4) {
    animation-delay: 0.15s;
}

.hj-riding span:nth-child(5) {
    animation-delay: 0.2s;
}

.hj-riding span:nth-child(6) {
    animation-delay: 0.25s;
}

.hj-menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hj-font {
    width: 7vw;
    margin: 0.6vw 1vw 0.3vw 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    height: 100%;
}

.hj-menu-tab {
    width: 3.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.hj-menu-icon {
    width: 3vw;
    height: 3vw;
    background-image: url("/resources/static/img/header_footer/menu_sun_y.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;

}

.hj-camping-content-page {
    width: 100%;
    height: auto;
}

/*호버 효과*/

.hj-font:hover, .hj-logo-container:hover {
    cursor: pointer;
}

body {
    background-color: #FFFAF6;
}

/*헤더 우측*/
.hj-right-up{

}
.hj-right-under{
    display: flex;
}


/*미디어쿼리 시작*/
@media only screen and (max-width: 430px) and (max-height: 932px) {
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background-color: #FFFAF6;
    }


    .hj-header {
        box-sizing: border-box;
        border-bottom: 0.35vw solid #1c4728;
        display: flex;
        height: 15vw;
        width: 100%;
        justify-content: space-between;
        background-color: #275634;
        top: 0;
    }

    .hj-logo-container {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        width: 33vw;
        margin-top: 0.3vw;
    }

    .hj-right {
        display: flex;
        margin-right: 1.5vw;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }


    .hj-logo {
        width: 16vw;
        background-image: url("/resources/static/img/header_footer/outgoit_logo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hj-title {
        font-weight: bolder;
        font-size: 2vw;
        width: 13vw;
        color: rgb(242, 166, 52);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'SOYOMapleBoldTTF';
        margin-top: 24%;
    }

    .hj-title > span {
        color: rgb(222, 111, 26);

    }


    /* 글씨 효과 */
    .hj-tracking {
        font-family: 'SOYOMapleBoldTTF';
        font-weight: bolder;
        font-size: 1.5vw;
        color: rgb(242, 166, 52);
        user-select: none;
        overflow: hidden;
        border-radius: 10%;
    }

    .hj-tracking span {
        animation: bounce 0.6s;
        display: inline-block;
        animation: float 0.2s ease-in-out infinite;
    }

    .hj-tracking:hover span {
        animation: bounce 0.6s;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translate(0);
        }
        25% {
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
        }
        50% {
            transform: translateY(-20px) rotate(3deg) scale(1.1);
        }
    }

    .hj-tracking span:nth-child(2) {
        animation-delay: 0.05s;
    }

    .hj-tracking span:nth-child(3) {
        animation-delay: 0.1s;
    }

    .hj-tracking span:nth-child(4) {
        animation-delay: 0.15s;
    }

    .hj-tracking span:nth-child(5) {
        animation-delay: 0.2s;
    }

    .hj-tracking span:nth-child(6) {
        animation-delay: 0.25s;
    }

    .hj-tracking span:nth-child(7) {
        animation-delay: 0.3s;
    }

    .hj-tracking span:nth-child(8) {
        animation-delay: 0.35s;
    }

    .hj-riding {
        font-family: 'SOYOMapleBoldTTF';
        font-weight: bolder;
        font-size: 1.5vw;
        color: rgb(242, 166, 52);
        user-select: none;
        overflow: hidden;
        border-radius: 10%;
    }

    .hj-riding span {
        animation: bounce 0.6s;
        display: inline-block;
        animation: float 0.2s ease-in-out infinite;
    }

    .hj-riding:hover span {
        animation: bounce 0.6s;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translate(0);
        }
        25% {
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
        }
        50% {
            transform: translateY(-20px) rotate(3deg) scale(1.1);
        }
    }

    .hj-riding span:nth-child(2) {
        animation-delay: 0.05s;
    }

    .hj-riding span:nth-child(3) {
        animation-delay: 0.1s;
    }

    .hj-riding span:nth-child(4) {
        animation-delay: 0.15s;
    }

    .hj-riding span:nth-child(5) {
        animation-delay: 0.2s;
    }

    .hj-riding span:nth-child(6) {
        animation-delay: 0.25s;
    }

    .hj-menu {
        width: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .hj-font {
        width: 16vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5vw;
        height: 100%;
    }

    .hj-menu-tab {
        width: 8vw;
        margin-top: auto;
        margin-bottom: auto;
    }

    .hj-menu-icon {
        width: 8vw;
        height: 8vw;
        background-image: url("/resources/static/img/header_footer/menu_sun_y.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: auto;
        margin-bottom: auto;

    }

    .hj-camping-content-page {
        width: 100%;
        height: auto;
    }

    /*호버 효과*/
    .hj-font:hover, .hj-logo-container:hover {
        cursor: pointer;
    }

}